#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp/
temp/


#     Node.js     #
###################
node_modules
dist


#       NYC       #
###################
coverage
*.lcov
.nyc_output


#      Files      #
###################
*.log
